
<div id="subscribe-bar">

  <h2>Get the Kindle Daily eBook deal delivered to your inbox every morning!</h2>

  <div id="embed_signup" class="control-group">
    <form action="<%= url_for :controller => "email", :action => "subscribe" %>" method="post" id="subscribe-form" class="validate form-inline" target="_blank">
      
      <div id="loading-indicator"></div>

      <div class="message errors"></div>
      <div class="message success"></div>
      
      <input type="email" value="" name="email" class="required email input-large" id="email" placeholder="Email Address">
      
      <input type="submit" value="Subscribe" name="subscribe" id="subscribe" class="button btn btn-primary">
    </form>
  </div>

</div>

<div id="deals">
  <div id="todays-deal">
    <% if @deal_today %>
      <h3>Today's Deal</h3>
      <h4><%= @deal_today.title %></h4>

      <div class="cover-img">
        <a href="<%= @deal_today.affiliate_link %>" target="_blank"><img src="<%= @deal_today.cover_img %>" /></a>
      </div>    

      <div class="description"><%= @deal_today.description %></div>

      <div class="prices">
        <% if @deal_today.old_price %>
        <div class="old-price">
          Old Price: <strike>$<%= @deal_today.old_price %></strike>
        </div>
        <% end %>
        <div class="todays-price">
          Today's Price: <span>$<%= @deal_today.current_price %></span>
        </div>
      </div>

      <%= link_to (raw "View on Amazon.com &raquo;"), @deal_today.affiliate_link, {:target => "_blank", :class => "btn amazon"} %>
    <% else %>
      Sorry, today's deal hasn't been updated yet.
      Please enter your email above to be notified of the latest deals, or check back later.
    <% end %>
  </div>
</div>
