<html>
<head>
  
  <title>The Cool Collective - Full Width</title>
  
  <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
  
</head>
<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">

<table cellspacing="0" border="0" style="background: #f1f0e8;" cellpadding="0" width="100%">
  
  <tr>
    <td>
      <table cellspacing="0" bgcolor="#484845" width="100%" cellpadding="0">
        <tr>
          <td height="50" valign="top">
            <table cellspacing="0" align="center" width="600" cellpadding="0">
              <tr>
                <td class="header-text" align="center" style="color: #FFF; font-family: Verdana; font-size: 10px; text-transform: uppercase; padding: 0 20px;">
                  <br />Email not looking beautiful? <a href="./" class="" style="color: #00ffff; text-decoration: none;">View it in your browser</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
  <tr>
    <td>
      <table cellspacing="0" width="100%" cellpadding="0">
        <tr>
          <td valign="top">
            <table cellspacing="0" align="center" width="600" cellpadding="0">
              <tr>
                <td class="main-title" style="padding: 0 20px; font-size: 28px; text-align: center; font-family: Georgia; text-transform: uppercase; letter-spacing: 6px;">
                  <br />Today's e-book Deal<br />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <table cellspacing="0" align="center" width="600" cellpadding="0">
              <tr>
                <td class="date" valign="top" style="color: #999; text-transform: uppercase; text-align: center; font-size: 11px; font-family: Verdana;">
                  <br /><currentdayname> <currentday> <currentmonth> <currentyear><br /><br />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr> 
  
  <tr>
    
    <td valign="top">

      <table cellspacing="0" border="0" align="center" style="background: #fff;" cellpadding="0" width="600">
        
        <tr>
          <td valign="top">
            
            <table cellspacing="0" cellpadding="0" border="0">
              <tr>
                
                <td valign="top" width="6">
                  <img src="https://s3.amazonaws.com/dailyebook/cool-collective-email-images/top-left.gif" alt="" />
                </td>
                
                <td valign="top" width="588"><img src="https://s3.amazonaws.com/dailyebook/cool-collective-email-images/spacer.gif" alt="" /></td>
                
                <td valign="top" width="6">
                  <img src="https://s3.amazonaws.com/dailyebook/cool-collective-email-images/top-right.gif" alt="" />
                </td>
                
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <!-- content -->
            <table cellspacing="0" border="0" height="505" cellpadding="0" width="600">
                          <tr>
                <td class="image" valign="top" style="padding: 10px 20px;" colspan="2">
                  <img src="https://s3.amazonaws.com/dailyebook/cool-collective-email-images/book-image1.jpg" alt="Image" style="border: 0; display: block;" />
                </td>
              </tr>
              <tr>
                <td class="article-title" height="39" valign="top" style="padding: 0 40px; font-family: Georgia; font-size: 20px; font-weight: bold;" width="600" colspan="2">
                  <%= deal.title %>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <table cellspacing="0" border="0" cellpadding="0">
                    <tr>
                      <% if !deal.cover_img.empty? %>
                      <td class="floated-image" rowspan="2" valign="top">
                        <a href="<%= deal.link %>" target="_blank"><img src="<%= deal.cover_img %>" alt="" style="border: 0;" /></a>
                      </td>
                      <% end %>
                      <td class="floated-copy" valign="top" style="padding: 0 20px 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" width="408">

                        <p>Old Price: <strike><%= deal.old_price %></strike><br />
                        Today's Price: $<%= deal.current_price %></p>
                        
                        <p><%= deal.description %></p>
                        
                        <p><%= deal.deal_date.strftime("%A, %b %d") %></p>
                        
                        <p><%= link_to "View on Amazon.com", deal.link, {:target => "_blank"} %>

                        <p><small>Amazon.com ASIN: <%= deal.asin %></small></p>
                      </td>
                    </tr>
                  </table>
                </td>

              </tr>



            </table>
            <!--  / content -->
          </td>
        </tr>
      
        <tr>
          <td valign="top">
            
            <table cellspacing="0" cellpadding="0" border="0">
              <tr>
                
                <td valign="top" width="6">
                  <img src="https://s3.amazonaws.com/dailyebook/cool-collective-email-images/bottom-left.gif" alt="" />
                </td>
                
                <td valign="top" width="588"><img src="https://s3.amazonaws.com/dailyebook/cool-collective-email-images/spacer.gif" alt="" /></td>
                
                <td valign="top" width="6">
                  <img src="https://s3.amazonaws.com/dailyebook/cool-collective-email-images/bottom-right.gif" alt="" />
                </td>
                
              </tr>
            </table>
          </td>
        </tr>
      </table>
      
    </td>
  
  </tr>
  <tr>
    <td valign="top">
      <table cellspacing="0" width="100%" cellpadding="0">
        <tr>
          <td valign="top">
            <!-- footer -->
            <table cellspacing="0" border="0" align="center" height="202" cellpadding="0" width="600">
              <tr>
                <td valign="top">
                  <table cellspacing="0" border="0" width="600" cellpadding="0">
                    <tr>
                      <td class="unsubscribe" valign="top" style="padding: 20px; color: #999; font-size: 14px; font-family: Georgia; line-height: 20px;" width="305">
                        You received this email because at some point in the past you either bought one of our products, signed 
                        up to our mailing list, or drunk some of that "special" tea we slipped you. If you'd like, you can 
                        <a href="./" style="color: #cc0000; text-decoration: none;">unsubscribe</a>.
                      </td>
                      <td class="share-this" valign="top" style="padding: 45px 0 0 0;">
                        <a href="./" style="display: block; width: 210px; height: 13px; padding: 12px 0; text-align: center; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 10px; color: #fff; text-transform: uppercase; text-decoration: none; font-family: Verdana; background-color: #cc0000;">Share this email</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- / end footer -->
          </td>
        </tr>
        <tr>
          <td valign="top">
            <table cellspacing="0" width="100%" cellpadding="0">
              <tr>
                <td class="copyright" align="center" height="80" valign="top" style="color: #FFF; font-family: Verdana; font-size: 10px; text-transform: uppercase; text-align: center; line-height: 20px;" bgcolor="#484845">
                  <br />
                  Company and the Company logo are registered trademarks of Company <br />
                  Company - 123 Some Street, City, ST 99999. Ph +1 4 1477 89 745
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
</table>

</body>
</html>
