<h1>Today</h1>
<p><%= deal.title %>
<br />
<p><%= deal.old_price %>
<br />
<p><%= deal.current_price %>
<br />
<p><%= deal.cover_img %>
<br />
<p><%= deal.description %>
<br />
<p><%= deal.deal_date %>
<br />
<p><%= deal.asin %>
<br />
<p><%= link_to "View on Amazon.com", deal.link, {:target => "_blank"} %>
